.container{:style => "margin-left: auto; margin-right: auto; width: 50%; text-align: center; margin-top: 100px;"}
  =image_tag "compass.png", size: '200'
  .header{:style => 'font-weight: 400px; font-size: 52px;'}
    Ipsum Nauticum
  %h4.description
    A nautical lorem ipsum generator

  .output-container
    .output-text{}
      = @final_terms

