// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  font-family: 'Pacifico', cursive;
  color: #333333;
}

.description{
  font-family: 'Merriweather', serif;
}

.output-text{
  font-family: 'Merriweather', serif;
  font-size: 14px;
  margin-bottom: 100px;
  margin-top: 20px;
}
